*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: green;
    color: white;
    font-family: "Poppins", sans-serif;
}

/* navbar start  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200 px;
    margin: auto
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30 px;
}
.links a{
    font-size: 16 px;
    color: white;
    text-decoration: none;

}

.links a:hover{
    opacity: 0.7;
    transition: 0.5 s;

}
#logo{
    font-size: 40 px;
}
/* navbar end  */

/* section1 start */

.section-1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1
{
    max-width: 1200 px;
    margin: auto;
}

.section-1 .hd
{
    font-size: 35 px;
}

.section-1 .btn1
{
    background: none;
    border: 1 px solid white;
    font-size: 20 px;
    color: white;
    padding: 10 px;
    border-radius: 5 px;
}

.section-1 .btn1:hover
{
    background: black;
    border: 1 px solid black;
    font-size: 20 px;
    color: white;
    padding: 10 px;
    border-radius: 5 px;
    transition: 0.9 s;
}
/* section1 end */

/* section 2 start */
.section-2{
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 50 px;

}
.section-2-box{
    padding: 100 px 0;

}
.section-2-box i{
    color: green;
    font-size: 50 px;
}
/* section 2 end */

/* section 3 start */
.section-3
{
    display: flex;
    background: linear-gradient(white,green);
    padding: 100 px 0;
    justify-content: center;  
    gap: 40 px; 
}

.section-3 img
{
    transition: 0.9 s;
    height: 500 px;
    width: 300 px;
    display: flex;
    object-fit: cover;
}

.section-3 img:hover
{
    scale: 1.1;
}
/* section 3 end */

/* section 4 start */
.section-4-box-1
{
    display: flex;
    justify-content: center;
}

.section-4
{
    background-color: green;
    margin: auto;
    height: 400 px;
    padding: 0 5%;
}

.section-4-box-2{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.section-4-box
{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.section-4-sub-box
{
    display: flex;
    justify-content: center;
    gap: 20 px;
    align-items: center;
}

.section-4-sub-box
{
    border-radius: 100 %;
}

.section-4-box-4 img
{
    width: 112 px;
    filter: invert(1);
    object-fit: scale-down;
}

.section-4-box-4
{
    display: flex;
    justify-content: space-around;
}
/* section 4 end */

/* section 5 start */
.section-5 .container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20 px;
}

.section-5-box-3
{
    color: black;
    background-color: white;
    width: 300 px;
    text-align: center;
    /* padding: 30px; */
    height: 200 px;
}
.section-5-box-3 h4
{   
    background-color: whitesmoke;
    padding: 10 px;
}

.section-5
{
    background-color: black;
    padding: 30 px;
}

.section-5 h1,p
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-5-box-3 button
{
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 4 px;
    width: 90%;
    padding: 10 px;
    margin-top: 10 px;
}
/* section 5 end */

/* section 6 start */
.section-6-box-1
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-6-box-2
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-6-box-2 button
{
    border: none;
    background-color: black;
    color: white;
    padding: 10 px;
    border-radius: 4 px;
    width: 8%;
}

.section-6-box-2 button:hover
{
    background-color: white;
    color: black;
    transition: 0.7 s;
}

.section-6
{
    padding: 50 px;
}
/* section 6 end */

/* footer start */
footer
{
    background-color: black;
    padding: 20 px;
}

.footer-box-1
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8 px;
    color: greenyellow;
}

.footer-box-2
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: greenyellow;
}
/* footer end */

